{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'certs_info')">Clients certificates</button>
  <button class="tablinks" onclick="openTab(event, 'certs_new')">Create a new certificate</button>
</div>

<div id="certs_info" class="row tabcontent"  style="display: block;">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Clients certificates</h3>

      </div>
      <!-- /.box-header -->

      <div class="box-body">
        <!--if .ovstatus -->
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th>Name</th>
              <th>Serial</th>
              <th>State</th>
              <th>Expiration</th>
              <th>Revocation</th>
              <th>Details</th>
              <th>Actions</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            {{range .certificates}}
              {{ if ne .Details.Name "server"}}
              <tr>
                <td>{{ .Details.Name }}</td>
                <td>{{ .Serial }}</td>
                {{ if eq .EntryType "R" }}
                <td class="align-middle"><span class="label label-danger">Revoked</span></td>
                {{ else if eq .EntryType "E" }}
                <td class="align-middle"><span class="label label-warning">Expired</span></td>
                {{ else }}
                <td class="align-middle"><span class="label label-success">Valid</span></td>
                {{ end }}
                <td>{{ dateformat .ExpirationT "2006-01-02 15:04"}}</td>
                {{ if eq .EntryType "R" }}
                <td>{{ dateformat .RevocationT "2006-01-02 15:04"}}</td>
                {{else}}
                <td></td>
                {{end}}
                <td>
                  <span class="label label-warning">Email: {{ .Details.Email }}</span>
                  </br>
                  <span class="label label-warning">CN: {{ .Details.CommonName }}</span>
                  <span class="label label-warning">Country: {{ .Details.Country }}</span>
                  </br>
                  <span class="label label-warning">Province: {{ .Details.Province }}</span>
                  <span class="label label-warning">City: {{ .Details.City }}</span>
                  </br>
                  <span class="label label-warning">Org: {{ .Details.Organisation }}</span>
                  <span class="label label-warning">Org Unit: {{ .Details.OrganisationUnit }}</span>
                </td>
                <td class="align-middle">
                  <div class="btn-group btn-group-sm">
                    {{ if eq .EntryType "V" }}
                    <a href="{{urlfor "CertificatesController.Revoke" ":key" .Details.Name}}" class="btn btn-danger"><i class="fas fa-ban"></i></a>
                    {{else}}
                    <a class="btn btn-danger" disabled><i class="fas fa-ban"></i></a>
                    {{ end }}
                    {{ if eq .EntryType "E" }}
                    <a href="{{urlfor "CertificatesController.Renew" ":key" .Details.Name}}" class="btn btn-primary"><i class="fas fa-recycle"></i></a>
                    {{else}}
                    <a class="btn btn-primary" disabled><i class="fas fa-recycle"></i></a>
                    {{ end }}
                    <a href="{{urlfor "CertificatesController.Download" ":key" .Details.Name}}" class="btn btn-primary"><i class="fas fa-download"></i></a>
                  </div>
                </td>
              </tr>
              {{ end }}
            {{end}}

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!--else
          Fix your configuration
      end-->
      <div class="box-footer clearfix">
      </div>
      <!--
      <div class="box-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
      </div>
    -->
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
</div>

<div id="certs_new" class="box box-primary tabcontent">
  <div class="box-header with-border">
    <h3 class="box-title">Create a new certificate</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "CertificatesController.Post"}}" method="post">
    <div class="box-body">
      <div class="form-group {{if field_error_exist .validation "Name" }}has-error{{end}}" >
        <label for="name">Common Name</label>
        <input type="text" class="form-control" id="Name" name="Name">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>

      <div class="form-group {{if field_error_exist .validation "Password" }}has-error{{end}}" >
        <label for="password">Password</label>
        <input type="text" class="form-control" id="Password" name="Password">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Password" }}</span>

      <div class="form-group {{if field_error_exist .validation "Email" }}has-error{{end}}" >
        <label for="email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" value="webmaster@example.com">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Email" }}</span>

      <div class="form-group {{if field_error_exist .validation "Country" }}has-error{{end}}" >
        <label for="country">Country Name (2 letter code)</label>
        <input type="text" class="form-control" id="Country" name="Country" value="US">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Country" }}</span>

      <div class="form-group {{if field_error_exist .validation "Province" }}has-error{{end}}" >
        <label for="province">State or Province Name (full name)</label>
        <input type="text" class="form-control" id="Province" name="Province" value="New York">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Province" }}</span>

      <div class="form-group {{if field_error_exist .validation "City" }}has-error{{end}}" >
        <label for="city">Locality Name (eg, city)</label>
        <input type="text" class="form-control" id="City" name="City" value="New York City">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "City" }}</span>

      <div class="form-group {{if field_error_exist .validation "Organisation" }}has-error{{end}}" >
        <label for="org">Organisation Name</label>
        <input type="text" class="form-control" id="Organisation" name="Organisation" value="DigitalOcean">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Organisation" }}</span>

      <div class="form-group {{if field_error_exist .validation "OrganisationUnit" }}has-error{{end}}" >
        <label for="orgUnit">Organisation Unit Name</label>
        <input type="text" class="form-control" id="OrganisationUnit" name="OrganisationUnit" value="Community">
      </div>
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "OrganisationUnit" }}</span>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
{{end}}