{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Logs</title>
{{end}}

{{define "body"}}
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'logs')">Log Running</button>
  <button class="tablinks" onclick="openTab(event, 'status_logs')">Log Status</button>
</div>

<div id="logs" class="box box-primary tabcontent" style="display: block">
  <div class="box-header with-border">
    <h3 class="box-title">Last 200 lines of OpenVPN log</h3>
  </div>
  <pre style="font-size: 13px;line-height: 1.4em;">
{{ range $i, $line := .logs }}{{$line}}
{{ end }}
  </pre>
</div>

<div id="status_logs" class="box box-primary tabcontent">
    <div class="box-header with-border">
    <h3 class="box-title">Last 200 lines of OpenVPN log-status</h3>
  </div>
  <pre style="font-size: 13px;line-height: 1.4em;">
{{ range $i, $line := .status_logs }}{{$line}}
{{ end }}
  </pre>
</div>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<!-- /.box -->
{{end}}